@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-ExtraBold.ttf");
  font-display: block;
  font-weight: 800;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-SemiBold.ttf");
  font-display: block;
  font-weight: 600;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Medium.ttf");
  font-display: block;
  font-weight: 500;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.otf");
  font-display: block;
  font-weight: 400;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.otf");
  font-display: block;
  font-weight: 700;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Satoshi";
  color: #000341;
  background-color: #f1f1f1;
}

.jakarta {
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
}
.jakarta-m {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
}
.jakarta-sm {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
}

.myBlueBtn {
  border: 1px solid #004aad;
  transition: 0.3s all;
}
.myBlueBtn span,
.myBlueBtn path,
.myBlueOutlinedBtn,
.myBlueOutlinedBtn span {
  transition: 0.3s all;
}
.myBlueBtn:hover {
  border: 1px solid #004aad;
  background-color: transparent;
}
.myBlueBtn:hover span,
.myBlueBtn:hover path {
  color: #004aad;
  fill: #004aad;
}

.myBlueOutlinedBtn:hover {
  background-color: #004aad;
}
.myBlueOutlinedBtn:hover span {
  color: white;
}

.reviewCard {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 #0704921a, 0 24px 60px 0 #062f7d0d,
    0 12px 24px 0 #1b3b770d;
}
.reviewdes {
  padding-bottom: 1vw;
  position: relative;
}

.reviewdes::before {
  content: "";
  position: absolute;
  left: 0;
  width: 25%;
  height: 1px;
  background-color: #c4c4c4;
  bottom: 0;
}

.faq_answer {
  max-height: 0;
  transition: 0.5s all;
  overflow: hidden;
}
#plusIcon {
  transition: 0.3s all;
}
#plusIcon.active #lineToHide {
  display: none;
}
#plusIcon.active {
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .reviewdes {
    padding-bottom: 16px;
    position: relative;
  }

  .reviewdes::before {
    content: "";
    position: absolute;
    left: 0;
    width: 25%;
    height: 1px;
    background-color: #c4c4c4;
    bottom: 0;
  }
}
